blessed==1.21.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
click-completion==0.5.2
colorama==0.4.6
editor==1.6.6
et_xmlfile==2.0.0
fuzzywuzzy==0.18.0
idna==3.10
iniconfig==2.1.0
inquirer==3.4.1
Jinja2==3.1.6
Levenshtein==0.27.1
MarkupSafe==3.0.3
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pluggy==1.6.0
-e git+https://github.com/alefbee/popcorn-archives.git@0b3096715fed26916b3a7a121cb0415632b4fb15#egg=popcorn_archives
Pygments==2.19.2
pytest==8.4.1
pytest-mock==3.14.1
python-dateutil==2.9.0.post0
python-Levenshtein==0.27.1
pytz==2025.2
RapidFuzz==3.13.0
readchar==4.2.1
requests==2.32.4
runs==1.2.2
shellingham==1.5.4
six==1.17.0
thefuzz==0.22.1
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.13
xmod==1.8.1
